jupyter-contrib-nbextensions==0.5.1
glob
pandas==1.4.2
pandas_explode #still needed?
pandas_explode.patch() #still needed?
IPython.display
beautifulsoup4
re
datetime
os
matplotlib
tld==0.12.6
numpy
spacy==3.4.3
IPython.display
